 html
html
  head
    meta(charset='utf-8')
    title South Shields Explorer
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css', rel='stylesheet')
    style.

      body { margin:0; padding:0; }
      .caption-content{
        width: 100%;
        height: 100%;
      }
      #map { position:absolute; top:0; bottom:0; width:100%}
doctype      .mapboxgl-popup {
        max-width: 200px;
        max-height: 250px;
        overflow-y: scroll;
        overflow-x: scroll;
      }
      .mapboxgl-popup-content {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        overflow-y: scroll;
        overflow-x: scroll;        
      }
  body
    #map
  script.
      mapboxgl.accessToken = 'pk.eyJ1IjoibW9vemhhbnNoIiwiYSI6ImNqamE4cmlxeDM0ZjczcnMybjBkcDR5bW4ifQ.zRf5unVap1cQOgTanCrx8w';
      const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/moozhansh/cjmi8y8gd0aca2srzjdhoglqa',
      center: [-1.599925, 54.970298],
      zoom: 12.0
      });      

      map.on('click', function(e) {
        var features = map.queryRenderedFeatures(e.point, {
          layers: ['wallsend']
        });

        if (!features.length) {
          return;
        }

        var feature = features[0];

        var popup = new mapboxgl.Popup({className:'popups'})
          .setLngLat(feature.geometry.coordinates)
          .setHTML('<h3>' + feature.properties.title + '</h3><p>' + feature.properties.image + '</h3><p>' + feature.properties.description + '</p>')
          .setLngLat(feature.geometry.coordinates)
          .addTo(map);
      });

